*{
  font-family:arial;
}
body{
  background-color:black;
}

#store-details{
  color:white;
  text-align:center;
  font-size:80px;
}
#store-name{
  color:white;
  font-size:144px;
  text-align:center;
  -webkit-animation:colorPulse 10s infinite alternate;
}
@-webkit-keyframes colorPulse {
  0% {color:pink;}
  50%{color:green;}
  100%{color:purple;}
}
#dog{
  text-align:center;
  align-content:center;
  color:white;
}
.dog-h2{
  color:pink;
  font-size:100px;
}
.dog-p{
  color: pink;
  font-size:80px;
}