*{
  font-family:arial;
}
body{
  background-color:black;
}

#store-details{
  color:white;
  text-align:center;
  font-size:80px;
}
#store-name{
  color:white;
  font-size:144px;
  text-align:center;
}
#dog{
  align-content:center;
  color:pink;
}