*{
  font-family:arial;
}
body{
  background-color:black;
}
#music{
  text-align:center;
  color:white;
}
#store-details{
  color:white;
  text-align:center;
  font-size:60px;
}
#store-name{
  color:white;
  font-size:100px;
  text-align:center;
  -webkit-animation:colorPulse 5s infinite alternate;
}
@-webkit-keyframes colorPulse {
  0% {color:pink;}
  50%{color:green;}
  100%{color:purple;}
}
#divs{
  text-align:center;
  align-content:center;
  color:white;
}
.h2{
  color:pink;
  font-size:80px;
  -webkit-animation:colorPulse 5s infinite alternate;
}
.p{
  color: white;
  font-size:40px;
}
.picture{
  width:1000px;
  height:600px;
}
#noises{
  width:500;
  height:100;
}
.link{
  text-align:center;
}